{% extends 'base.html' %}
{% block content %}
<h1><marquee> <a class="btn btn-outline-primary"> PRODUCTS </a><hr></marquee></h1>
<div class="row">
    <div class="col-md-6">
      <a href="{% url 'myapp:detail' i.id i.slug %}"><b>{{i.title}}</b></a><br>
      <img src="{{i.img.url}}" width=300 height=300 alt=""><br>
      ₹{{i.price}}
      <br><br>
      <b><li class="text-danger">Out of Stock</li></b>
      <style>
        body{
          background-color:rgb(245, 220, 243);
        }
      </style>
    </div>
    {% endfor %}
</div>
{% endblock %}